HOST_UID=1000
HOST_GID=1000

DAYFLOW_MIRROR_DIR=./data
DAYFLOW_API_PORT=8082
DAYFLOW_BIND_ADDR=0.0.0.0
# Must be >= 1.
DAYFLOW_MAX_UPLOAD_MB=64
DAYFLOW_TZ=America/New_York
# Must be an integer from 0 through 23.
DAYFLOW_DAY_BOUNDARY_HOUR=4
